body {
  font-family: sans-serif;
}

.container {
  margin: 100px auto;
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.form-title {
  margin: 0 0 30px;
  text-align: center;
}

.form-field {
  position: relative;
}

.form-field input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
}

.error {
  border-bottom: 1px solid red !important;
}

.form-field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.form-field input:focus~label,
.form-field input:valid~label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

form button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 40px;
  letter-spacing: 4px
}

.modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal .container {
  background-color: #fff;
  box-sizing: initial;
  margin: 250px auto;
}

.modal-form div {
  padding: 10px 0;
}

.table {
  width: 600px;
  height: 600px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.table-cell {
  width: 100px;
  height: 100px;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
}

#color-picker {
  width: 600px;
  display: block;
  margin: 50px auto;
}
